:root{--color:#4fdb98;}

body {
  font-family:  Roboto, Arial, sans-serif;
  text-align: center;
  background: white;
  padding: 10px;
  background: ;
  ;

}

h2 { color: #333; }

.grid {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

.cell {
  border: 2px solid #555;
  padding: 20px;
  background: #fff;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s ease;
  border-color: black;
}

.cell.correct { background: #b2fab4; }
.cell.wrong { background: #fab2b2; }

#numero {
  margin-top: 20px;
  font-size: 8em;
  color: var(--color);
  font-family: Lobster;
}
#marcador, #tiempo, #record, #total {
  margin-top: 10px;
  font-size: 1.2em;
  color: #222;
}

select, button {
  margin-top: 15px;
  padding: 8px 12px;
  font-size: 1em;
  background: var(--color);
  color:white;
  
}
.btn{
          background-color: transparent;
          border-color: var(--color);
          color:var(--color);
        border-radius: 5px;}
          
.btn:hover
         {
            background-color:var(--color);
            color:white;
         } 


